
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,400;1,700&display=swap');

body{
    font-family: 'Poppins', sans-serif; 
}




.site{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulos{
    text-align: center;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 0px;
    color: #f3f3f3;
    margin: 30px 25%;
    width: 50%;
    background-image: linear-gradient(to right, #9C40F3,#C73EB2,#F93D69);
    border-radius: 15px;
}

li,a, button{
  cursor:pointer;
}




/* Topo */






.topo h1{
    background: url(../img/logo.png);
    width: 200px;
    height: 70px;
    text-indent: -9999px;
}
.topo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #041024;
    padding-top: 20px;
    padding-bottom: 30px;
}

.topo ul{
    display: flex;
}


.menu-fixo{
  position: fixed;
  background-color: #041024;
  top:0;
  box-shadow: 0 5px 15px rgba(217, 9, 220, 0.787);
  width: 100%;
  z-index: 1;
}

.menu-abrir{

  background: url(../img/menu-abrir.png);
  background-size: cover;
  display: block;
  padding: 20px;
  border: 0;
  margin-left: 10%;
  cursor:pointer;
}

.menu-fechar{
  background: url(../img/menu-fechar.png);
  background-size: cover;
  display: block;
  padding: 20px;
  border: 0;
  cursor:pointer;
}

.menu-ativo .menu{
  right: 0;
}

.menu{
  background-color: rgba(255, 255, 255, 0.986);
  height: 100%;
  position: fixed;
  top: 0;
  right: -450px;
  max-width: 450px;
  width: 50%;
  z-index: 9;    
  transition: right 1s ease-out;                    
}

.menu ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.menu ul li{
  margin: 5% 0;
}

.menu ul li a{
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover{
  color: #041024;
  font-weight: 400;
}

.linha{
  width: 90%;
  height: 2px;
  background-color: #d705dd;
  margin-left: 7%;
}

.orcamento{
  font-size: 18px;
  background-color: #f9f9f9;
  color: #d705dd;
  padding: 15px;
  border: solid 1px #d705dd;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  max-width: 50%;
  text-align: center;
  margin: 20px 25%;
}

.orcamento:hover{
  background-color: #d705dd;
  color: #041024;
  border:#041024;
}



/* banner */




.fnd-banner{ 
    background-color: #041024;
    min-height: 85vh;
}

.banner{
    display: flex;
    padding: 20px 0px;
}

.banner div{
    padding-top: 10%;
    margin-right: 25%;
    margin-left: 20px;
}

.banner h2{
    font-size: 70px;
    color: #f3f3f3;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.banner p{
    margin: 20% 0;
    color: #f3f3f3;
    line-height: 20px;
}

.btn {
    color: #d705dd;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #d705dd;
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  
  .btn:hover {
    color: #d705dd;
    border:2px solid #d705dd;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: rgb(255, 255, 255);
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }





/* servico */



.fnd-servico {
  background-image: linear-gradient(#041024, #041024,#566FFF);
  padding: 20px 0px;
}




.fnd-servico div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fnd-servico h2{
  text-align: center;
  font-size: 46px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 0px;
  color: #f3f3f3;
  margin: 30px 25%;
  width: 50%;
  background-image: linear-gradient(to right, #9C40F3,#C73EB2,#F93D69);
  border-radius: 15px;
}



.servico {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 120px;
}








.servico div {
  width: 30%;
  margin-right: 3%;
  background-color: #041024;
  box-shadow: 0px -20px 16px #814de9;
  height: 660px;

}




.servico div:nth-child(2) {
  margin-top: 100px;
  box-shadow: -4px 20px 16px #814de9;
  height: 660px;
}





.servico div:nth-child(3) {
  margin-right: 0px;
}




.servico h3 {
  margin: 30px 0px;
  color: #f3f3f3;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Exo', sans-serif;
}




.servico img {
  width: 80%;
  border-radius: 10px;
  height: 192.14px;
}




.servico p {
  color: #f3f3f3;
  font-size: 18px;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  text-align: justify; 
}



/* portifolio */




.portifolio{
    background-image: linear-gradient(#566FFF, #814DE9,#041024);
    padding: 20px 0;
}

.portifolio img{
    width: 30%;;
    margin-bottom: 20px;
    border-radius: 38px;
    margin-right: 4%;
}




.portifolio img:nth-child(3){
    margin-right: 0px;
}

.portifolio img:nth-child(6){
    margin-right: 0px;
}



.depoimento{
    justify-content: center;
    background-image: linear-gradient(#041024, #814DE9);
    padding: 40px 0;
}

.comentario{
    text-align: center;
    display: flex;
    justify-content: center;
}

.comentario div{
    max-width: 25%;
    color: #f3f3f3;
    background-color: #061634;
    box-shadow: 15px 20px 20px #c932ab9b;
    margin-right: 2%;
    border-radius: 25px;
    margin-top: 20px;
}
.comentario div:nth-child(3){
    margin-right: 0%;
}

.comentario img{
    margin: 5% 0;     
} 

.comentario h3{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f3f3f3;
}

.comentario p{
    margin: 8% 10%;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}






.redes-sociais {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .redes-sociais .icone {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 80px;
    height: 80px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes-sociais .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes-sociais .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes-sociais .icone:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .redes-sociais .icone:hover span,
  .redes-sociais .icone:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .redes-sociais .facebook:hover,
  .redes-sociais .facebook:hover .tooltip,
  .redes-sociais .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .redes-sociais .whatsapp:hover,
  .redes-sociais .whatsapp:hover .tooltip,
  .redes-sociais .whatsapp:hover .tooltip::before {
    background: #07f04d;
    color: #fff;
  }
  
  .redes-sociais .instagram:hover,
  .redes-sociais .instagram:hover .tooltip,
  .redes-sociais .instagram:hover .tooltip::before {
    background: #e40fb9;
    color: #fff;
  }

  .icone:nth-child(1){

    background: url(../img/face.png) no-repeat;
  
  }
  
  
  
  
  .icone:hover:nth-child(1){
  
    background: url(../img/face.png) no-repeat;
  
  }
  

  
  .icone:nth-child(2){
    background: url(../img/whats.png) no-repeat;
  }
  .icone:hover:nth-child(2){
  
    background: url(../img/whats.png) no-repeat;
  }
  .icone:nth-child(3){
    background: url(../img/insta.png) no-repeat;
  }
  .icone:hover:nth-child(3){
    background: url(../img/insta.png) no-repeat;
  }







.fnd-rodape{
    background-color:#041024;text-align: center;
}

.rodape-logo{
  max-width: 40%;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
}

.rodape-logo p{
  color: #f3f3f3;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
}

.rodape{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 25px;
}

.rodape iframe{
    border-radius: 25px;
}

.rdp{
    text-align: center;
}

.rdp li{
    margin: 2% 0;
    background-color: #f3f3f3;
    border-radius: 25px;
    color: #041024;
    padding:20px 100px;
    font-size: 18px;
    padding-top: 30px;
}

  .btn-rodape {
    width: 150px;
    position: relative;
    height: 25px;
    border: 3px ridge #d705dd;
    outline: none;
    transition: 1s;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .btn-rodape:hover::before, .btn-rodape:hover::after {
    transform: scale(0)
  }
  
  .btn-rodape:hover {
    box-shadow: inset 0px 0px 50px #d705dd;
  }



  .direitos-reservados{
    text-align: center;
  }

  .direitos-reservados div {
    padding: 15px 0;
  }


  
  .direitos-reservados div:nth-child(2){
    background-color: #041024;
    color: #f3f3f3;
  }


  /* PAGINA SOBRE ---------------------------------------------------------------------------------------------------------------- */

  .sobre{
    background-color: #041024;
    min-height: 650px;
  }

  #mini-sobre{
    padding: 40px 0 100px;
    display: flex;
    justify-content: space-around;
  }

  .sobre div div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }

  .sobre h1{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #f2f2f2;
    text-shadow: -1px 10px 4px #9C40F3;
    margin-bottom: 45px;
  }

  .sobre div p{
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    color: #f2f2f2;

  }

  .sobre img{
    width: 40%;
    height: 40%;
  }

  .linhasobre{
    display: flex;
    width: 30%;
    height: 4px;
    background-color: #d705dd;
    margin-left: 35%;
    opacity: 0.8;
    margin-top: 3%;
  }
  .sobre2 {
    background-color: #041024;
  }
  .questoes{
    background: url(../img/sobreslide.png) no-repeat center;
    height: 700px;
    display: flex;
    align-items: center;

  }

  .questoes div{
    width: 1133px;
    height: 534px;
    background-color: #190B59;
    margin-left: 3%;
    margin-top: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .questoes div div{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 45%;
    height: 75%;
  }




  .questoes h1{
    font-size: 40px;
    margin-top: 65px;
    color: #f2f2f2;
    font-weight: 500;
  }


  .questoes div p{
    width: 30%;
    align-self: center;
    font-size: 26px;
    font-family: 'Poppins';
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
    color: #f2f2f2;
    margin-top: 15px;
  }


  .questoes div img{
    width: 100%;
    border-radius: 10px 20px; 
  }

  .line{
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041024;
  }

  .line span{
    margin: 0;
  }